.photo-menu-icon4,
.photo-menu-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376px;
  height: 442px;
  object-fit: cover;
}
.photo-menu-icon5 {
  left: 1px;
}
.photo-menu2,
.rectangle-icon2,
.scrool-tool2 {
  position: absolute;
  top: 0;
  left: -1px;
  width: 376px;
  height: 442px;
}
.rectangle-icon2,
.scrool-tool2 {
  left: 1px;
  height: 760px;
}
.scrool-tool2 {
  top: 20.5px;
  left: 160px;
  border-radius: var(--br-xs);
  background-color: var(--color-seashell);
  width: 58px;
  height: 5px;
}
.minus-icon2 {
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.write-text-here2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.plus-icon2 {
  position: relative;
  width: 22px;
  height: 22px;
}
.text-field2 {
  position: absolute;
  top: 540px;
  left: calc(50% - 163px);
  border-radius: var(--br-base);
  background-color: var(--global-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--gray-gray-6);
  box-sizing: border-box;
  width: 326px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xs);
}
.quanity2,
.reservations-for2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 24px;
}
.quanity2 {
  font-size: var(--body-semibold-17-size);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: none;
}
.title2 {
  position: absolute;
  top: 509px;
  left: 26px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--title-3-semibold-20-size);
}
.data9 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.data8,
.label4 {
  align-self: stretch;
}
.data8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.label4 {
  position: relative;
  font-size: var(--small-12px-regular-size);
  line-height: 150%;
  color: var(--grid-secondary-text-default);
}
.gridtext-only4 {
  position: absolute;
  top: 440px;
  left: 28px;
  width: 132px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--medium-16px-medium-size);
  color: var(--grid-primary-text-default);
}
.order-1-12,
.queue-1-12 {
  position: absolute;
  top: 346px;
  left: 50px;
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.queue-1-12 {
  left: 228px;
}
.frame6,
.gridtext-only5 {
  position: absolute;
  text-align: center;
  font-family: var(--small-12px-regular);
}
.frame6 {
  top: 52px;
  left: -1px;
  width: 376px;
  height: 760px;
  font-size: var(--body-semibold-17-size);
  color: var(--global-black);
}
.gridtext-only5 {
  top: 492px;
  left: 205px;
  width: 132px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--medium-16px-medium-size);
  color: var(--grid-primary-text-default);
}
.testimonial-frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--global-white);
  box-shadow: 0 0 50px rgba(90, 108, 234, 0.07);
  width: 336px;
  height: 128px;
}
.calendar4,
.sample-name4 {
  position: absolute;
  left: 28.27%;
}
.sample-name4 {
  top: calc(50% - 53px);
  font-size: var(--font-size-mini);
  line-height: 131.02%;
}
.calendar4 {
  top: calc(50% - 33px);
  letter-spacing: 0.5px;
  font-family: var(--font-rubik);
  color: var(--color-darkslategray-100);
  opacity: 0.3;
  mix-blend-mode: normal;
}
.photo-profile-icon4 {
  position: absolute;
  top: 11px;
  left: 10px;
  border-radius: var(--br-3xs);
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.sample-testimonial4 {
  position: absolute;
  top: 65px;
  left: 95px;
  line-height: 180.52%;
  color: var(--global-black);
  display: inline-block;
  width: 213px;
}
.div18,
.icon-star-child2 {
  position: absolute;
  top: 0;
  background: linear-gradient(98.81deg, #53e88b, #15be77);
}
.icon-star-child2 {
  left: 0;
  border-radius: var(--br-lg-5);
  width: 53px;
  height: 33px;
  opacity: 0.1;
}
.div18 {
  left: 23px;
  line-height: 180.52%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-star11 {
  position: absolute;
  height: 54.66%;
  width: 53.76%;
  top: 17.24%;
  right: 46.24%;
  bottom: 28.1%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-star10,
.parent1 {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 31px;
  height: 29px;
}
.icon-star10 {
  top: 14.5px;
  left: 259px;
  width: 53px;
  height: 33px;
  font-size: var(--medium-16px-medium-size);
  font-family: var(--font-actor);
}
.testimonial-frame4,
.testimonial-frame5,
.testimonial-list2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 128px;
}
.testimonial-frame5,
.testimonial-list2 {
  top: 148px;
}
.testimonial-list2 {
  top: 800px;
  left: 13px;
  height: 276px;
}
.popular2,
.rectangle4 {
  position: absolute;
  background: linear-gradient(98.81deg, #53e88b, #15be77);
}
.rectangle4 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg-5);
  width: 76px;
  height: 34px;
  opacity: 0.1;
}
.popular2 {
  top: 10px;
  left: 17px;
  line-height: 131.02%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.love-icon-inner,
.popular-status2 {
  position: absolute;
  top: 101px;
  left: 26px;
  width: 76px;
  height: 34px;
}
.love-icon-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-lg-5);
  background-color: var(--color-red);
  width: 34px;
  opacity: 0.1;
}
.heart-icon2 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.location-icon2,
.love-icon2 {
  position: absolute;
  top: 101px;
  left: 312px;
  width: 34px;
  height: 34px;
}
.location-icon2 {
  left: 266px;
}
.icon-map-pin2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.rating6 {
  position: relative;
  letter-spacing: 0.5px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.ways-in-km2 {
  position: absolute;
  top: 221px;
  left: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.icon-star14 {
  position: relative;
  width: 18.67px;
  height: 17.85px;
}
.rating7 {
  position: absolute;
  top: 223px;
  left: 119px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.menu-discription2,
.menu-name2 {
  position: absolute;
  display: inline-block;
}
.menu-name2 {
  top: 0;
  left: 0;
  font-weight: 500;
  width: 296px;
}
.menu-discription2 {
  top: 132px;
  left: 5px;
  font-size: var(--small-12px-regular-size);
  line-height: 180.52%;
  font-family: var(--font-font);
  color: var(--global-black);
  width: 324px;
}
.text2 {
  position: absolute;
  top: 145px;
  left: 26px;
  width: 329px;
  height: 220px;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-200);
  font-family: var(--small-12px-regular);
}
.customer-reviews2 {
  position: absolute;
  top: 768px;
  left: 21px;
  font-size: var(--font-size-mini);
  line-height: 131.02%;
  font-family: var(--font-actor);
}
.rectangle5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  box-shadow: var(--drop-shadow);
  width: 326px;
  height: 57px;
}
.check-out2 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 84px);
  letter-spacing: 0.5px;
}
.cta-button2,
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 326px;
  height: 57px;
}
.cta-button2 {
  top: 664px;
  left: 26px;
  font-size: var(--title-3-semibold-20-size);
  color: var(--color-gray-100);
  font-family: var(--font-actor);
}
.frame7,
.menu-bar-child5 {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-bar-child5 {
  border-radius: var(--br-3xl) var(--br-3xl) 0 0;
  background-color: var(--global-white);
  box-shadow: 0 0 50px rgba(90, 108, 234, 0.1);
  width: 375px;
  height: 74px;
}
.frame7 {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  width: 110.92px;
  height: 44px;
  opacity: 0.1;
}
.iconlybulkhome4 {
  position: absolute;
  height: 54.55%;
  width: 22.86%;
  top: 22.73%;
  right: 60.95%;
  bottom: 22.73%;
  left: 16.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home4 {
  position: absolute;
  top: 16px;
  left: 55.99px;
  line-height: 131.02%;
  display: inline-block;
  width: 36.97px;
}
.icon-home-active4 {
  position: absolute;
  top: 15px;
  left: 21.13px;
  width: 110.92px;
  height: 44px;
  font-size: var(--small-12px-regular-size);
  color: var(--color-gray-300);
}
.iconlybulkchat4 {
  position: absolute;
  height: 32.43%;
  width: 6.76%;
  top: 33.78%;
  right: 10.7%;
  bottom: 33.78%;
  left: 82.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.menu-bar-child6 {
  position: absolute;
  top: 23px;
  left: 325.35px;
  border-radius: 50%;
  background-color: var(--color-tomato);
  border: 1px solid var(--global-white);
  box-sizing: border-box;
  width: 13.73px;
  height: 13px;
}
.div20 {
  position: absolute;
  top: 25px;
  left: 260.92px;
  line-height: 131.02%;
  display: inline-block;
  width: 5.28px;
}
.iconlybulkbuy4 {
  position: absolute;
  height: 92.31%;
  width: 85.71%;
  top: 7.69%;
  right: 14.29%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.notification-cart-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-tomato);
  border: 1px solid var(--global-white);
  box-sizing: border-box;
  width: 13.73px;
  height: 13px;
}
.div21 {
  position: absolute;
  top: 2px;
  left: 4.23px;
  line-height: 131.02%;
  display: inline-block;
  width: 5.28px;
}
.notification-cart4 {
  position: absolute;
  top: 0;
  left: 15.85px;
  width: 13.73px;
  height: 14px;
}
.icon-cart4,
.icon-profile4 {
  position: absolute;
  height: 35.14%;
  width: 7.89%;
  top: 31.08%;
  right: 29.01%;
  bottom: 33.78%;
  left: 63.1%;
}
.icon-profile4 {
  height: 27.03%;
  width: 4.51%;
  top: 36.49%;
  right: 47.33%;
  bottom: 36.49%;
  left: 48.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.menu-bar4 {
  position: absolute;
  top: 738px;
  left: -1px;
  width: 375px;
  height: 74px;
  font-size: var(--font-size-4xs);
  color: var(--global-white);
}
.detail-menu-scrool-mode2 {
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--global-white);
  width: 100%;
  height: 812px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--small-12px-regular-size);
  color: var(--color-gray-300);
  font-family: var(--font-font);
}
.icon {
  position: absolute;
  top: 300px;
  left: 0;
  width: 379px;
  height: 212px;
  object-fit: cover;
}
.splashscreenfinal {
  position: relative;
  background-color: var(--global-white);
  width: 375px;
  height: 812px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
}
