<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./my-queue.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=font:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="book-appointment-timer">
      <div class="book-appointment-timer-child"></div>
      <div class="doccard-parent">
        <div class="doccard">
          <div class="doccard-child"></div>
          <img class="ellipse-icon" alt="" src="https://lh3.googleusercontent.com/p/AF1QipNT0ZILrhHHN8Q89NU_spyk9jsBFm4-FLwI2KOx=s1360-w1360-h1020" />

          <div class="workout-text-wrapper">
            <div class="workout-text">
              <div class="amarveg-restaurant">Amar,Veg Restaurant</div>
              <div class="veg">Veg</div>
              <div class="icon-location-parent">
                <img
                  class="icon-location"
                  alt=""
                  src="./public/icon-mappin.svg"
                />

                <img class="frame-child" alt="" src="./public/star-4.svg" />

                <img class="frame-item" alt="" src="./public/star-2.svg" />

                <img class="frame-item" alt="" src="./public/star-3.svg" />

                <img class="star-icon" alt="" src="./public/star-5.svg" />

                <img class="frame-child1" alt="" src="./public/star-6.svg" />

                <div class="bhatia-hospital">Bhatia Hospital , Mumbai</div>
              </div>
            </div>
          </div>
          <img class="component-1-icon" alt="" src="./public/component-1.svg" />
        </div>
        <div class="frame-wrapper">
          <div class="join-queue-wrapper">
            <div class="join-queue">JOIN QUEUE</div>
          </div>
        </div>
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="group-wrapper">
              <div class="rectangle-group">
                <div class="group-item"></div>
                <div class="cancel">Cancel</div>
              </div>
            </div>
            <div class="estimated-time-parent">
              <div class="estimated-time">Estimated Time</div>
              <div class="group-container">
                <style>
                    small{
                      font-size:18px;
                      font-weight: bold;
                    }
                  </style>
                  <div class="hr-group" style="font-size: 33px;font-weight:200;">
                    <%=final[0].total_time_hrs%><small>hr</small>&nbsp;<%=final[0].total_time_mins%><small>mins</small>
                  </div>
              </div>
            </div>
            <div class="estimated-time-group">
              <div class="estimated-time">Estimated Time</div>
              <div class="group-frame">
                <div class="hr-group">
                 
                  <div class="div3"><%=final[0].queue_position%></div>
                </div>
              </div>
            </div>
            <div class="current-position-in-queue-wrapper">
              <div class="current-position-in">Current Position In Queue</div>
            </div>
            <div class="group-inner" id="rectangle2"></div>
            <div class="join-the-queue">Join The Queue</div>
          </div>
          <div class="book-reservation-wrapper">
            <div class="join-queue" style="top: 40px;">BOOK RESERVATION</div>
          </div>
          <div class="tab-bar-parent">
            <div class="tab-bar">
              <div class="list-tab">
                <div class="text">09:00 AM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">09:30 AM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab booked">
                <div class="text">10:00 AM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
            </div>
            <div class="tab-bar">
              <div class="list-tab booked">
                <div class="text">10:30 AM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">11:00 AM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">11:30 AM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
            </div>
            <div class="tab-bar">
              <div class="list-tab booked">
                <div class="text">14:00 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">14:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">15:00 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
            </div>
            <div class="tab-bar">
              <div class="list-tab">
                <div class="text">15:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab booked">
                <div class="text">16:00 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">16:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
            </div>
            <div class="tab-bar">
              <div class="list-tab">
                <div class="text">15:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab booked">
                <div class="text">16:00 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">16:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
            </div>
            <div class="tab-bar">
              <div class="list-tab">
                <div class="text">15:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab booked">
                <div class="text">16:00 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">16:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
            </div>
            <div class="tab-bar">
              <div class="list-tab">
                <div class="text">15:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">16:00 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>
              <div class="list-tab">
                <div class="text">16:30 PM</div>
                <div class="badge">
                  <b class="b">2</b>
                </div>
              </div>

            </div>

            <a href="./user-details.html">

          <div class="cta-button" style="
        position: absolute;
        top: 102%;
        left: 50%;
        transform: translate(-50%, -50%);
        " id="cTAButtonContainer">
          <button class="rectangle-parent" style="position: relative;
          width: 332.5px;
          height: 50px;
          font-family: font;
          background: #53e88b;
          border-radius: 40px;
          border: none;
          color: white;">
           Next
          </button>
      </div>
    </a>


        </div>
        </div>
      </div>
    
      

      

    </div>

    <script>
      var rectangle2 = document.getElementById("rectangle2");
      if (rectangle2) {
        rectangle2.addEventListener("click", function (e) {
          // Please sync "Book Appointment Form Details" to the project
        });
      }
      </script>
  </body>
</html>
